body{
    background-image: url("1.jpg");
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;

}
*{
    margin:0;
    padding:0;

}
.regform{
    width: 800px;
    background-color: blueviolet;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px;
}
.main{
    width: 800px;
    background-color: darkslategray;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px; 
   
}